###
# BetterAuth Settings
###
BETTER_AUTH_SECRET="edaad57e504380e6b220250e329495184783c611927c265674c3bca415c250e3"
BETTER_AUTH_URL="http://localhost:5173"
PUBLIC_BETTER_AUTH_URL="http://localhost:5173"

###
# NEONDB Settings
###
DATABASE_URL="postgresql://neondb_owner:your_password@your_host/neondb?sslmode=require"
DATABASE_AUTHENTICATED_URL="postgresql://authenticated@your_host/neondb?sslmode=require&channel_binding=require"
NEON_PROJECT_ID="summer-bush-20178678"
